<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element required="true" type="boolean">
            <name>hide_price_for_anon</name>
            <label>Hide Prices For Anonymous Users</label>
            <value>0</value>
            <description>Do You Want To Hide Prices For Anonymous Users?</description>
        </element>
    </elements>
</config>
