<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.6/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label>VirtuaTechnology</label>
    <version>1.1.0</version>
    <copyright>(c)Virtua</copyright>
    <author>Virtua Internship</author>
    <compatibility minVersion="5.6.0"/>
</plugin>
